/* Border bottom view link */
    .p-c-f[data-s=pinterest]{border-bottom: 6px solid #e60023;}
    .p-c-f[data-s=facebook]{border-bottom: 6px solid #039be5;}
    .p-c-f[data-s=youtube]{border-bottom: 6px solid #ff3d00;}
    .p-c-f[data-s=instagram]{border-bottom: 6px solid #bbbbbb;}
    .p-c-f[data-s=website]{border-bottom: 6px solid #4caf50;}
    .p-c-f[data-s=tiktok]{border-bottom: 6px solid rgb(254, 44, 85);}
    .p-c-f[data-s=snapchat]{border-bottom: 6px solid #feda00;}
    .p-c-f[data-s=twitter]{border-bottom: 6px solid #03a9f4;}
    .p-c-f[data-s=reddit]{border-bottom: 6px solid #ef8630;}

/* Border bottom link filter */
    .container-l[data-s=TikTok]>.promo>.l-c-2>.l-c-name{color: black;}
    .container-l[data-s=TikTok]>.promo>.l-c-2>.l-c-sub{color: #525252;}
    .container-l[data-s=TikTok]>.promo>.l-c-3>.l-c-3-t{color: black;}
    .container-l[data-s=TikTok]>.promo>.l-c-3>.l-c-3-text{color: black;}
    .container-l[data-s=TikTok]>.promo>.l-c-2>.l-c-category{color: #525252;}
    .p-box[data-s=tiktok]{border-bottom: 6px solid rgb(254, 44, 85);}

    .container-l[data-s=Snapchat]>.promo>.l-c-2>.l-c-name{color: black;}
    .container-l[data-s=Snapchat]>.promo>.l-c-2>.l-c-sub{color: black;}
    .container-l[data-s=Snapchat]>.promo>.l-c-3>.l-c-3-t{color: black;}
    .container-l[data-s=Snapchat]>.promo>.l-c-3>.l-c-3-text{color: black;}
    .container-l[data-s=Snapchat]>.promo>.l-c-2>.l-c-category{color: black;}
    .p-box[data-s=snapchat]{border-bottom: 6px solid #feda00;}

    .container-l[data-s=YouTube]>.promo>.l-c-2>.l-c-name{color: black;}
    .container-l[data-s=YouTube]>.promo>.l-c-2>.l-c-sub{color: black;}
    .container-l[data-s=YouTube]>.promo>.l-c-3>.l-c-3-t{color: black;}
    .container-l[data-s=YouTube]>.promo>.l-c-3>.l-c-3-text{color: black;}
    .container-l[data-s=YouTube]>.promo>.l-c-2>.l-c-category{color: black;}
    .p-box[data-s=youtube]{border-bottom: 6px solid #ff3d00;}

    .container-l[data-s=Facebook]>.promo>.l-c-2>.l-c-name{color: black;}
    .container-l[data-s=Facebook]>.promo>.l-c-2>.l-c-sub{color: black;}
    .container-l[data-s=Facebook]>.promo>.l-c-3>.l-c-3-t{color: black;}
    .container-l[data-s=Facebook]>.promo>.l-c-3>.l-c-3-text{color: black;}
    .container-l[data-s=Facebook]>.promo>.l-c-2>.l-c-category{color: black;}
    .p-box[data-s=facebook]{border-bottom: 6px solid #039be5;}

    .container-l[data-s=Twitter]>.promo>.l-c-2>.l-c-name{color: black;}
    .container-l[data-s=Twitter]>.promo>.l-c-2>.l-c-sub{color: black;}
    .container-l[data-s=Twitter]>.promo>.l-c-3>.l-c-3-t{color: black;}
    .container-l[data-s=Twitter]>.promo>.l-c-3>.l-c-3-text{color: black;}
    .container-l[data-s=Twitter]>.promo>.l-c-2>.l-c-category{color: black;}
    .p-box[data-s=twitter]{border-bottom: 6px solid #03a9f4;}

    .container-l[data-s=Pinterest]>.promo>.l-c-2>.l-c-name{color: black;}
    .container-l[data-s=Pinterest]>.promo>.l-c-2>.l-c-sub{color: black;}
    .container-l[data-s=Pinterest]>.promo>.l-c-3>.l-c-3-t{color: black;}
    .container-l[data-s=Pinterest]>.promo>.l-c-3>.l-c-3-text{color: black;}
    .container-l[data-s=Pinterest]>.promo>.l-c-2>.l-c-category{color: black;}
    .p-box[data-s=pinterest]{border-bottom: 6px solid #e60023;}

    .container-l[data-s=Instagram]>.promo>.l-c-2>.l-c-name{color: black;}
    .container-l[data-s=Instagram]>.promo>.l-c-2>.l-c-sub{color: #525252;}
    .container-l[data-s=Instagram]>.promo>.l-c-3>.l-c-3-t{color: black;}
    .container-l[data-s=Instagram]>.promo>.l-c-3>.l-c-3-text{color: black;}
    .container-l[data-s=Instagram]>.promo>.l-c-2>.l-c-category{color: #525252;}
    .p-box[data-s=instagram]{border-bottom: 6px solid #bbbbbb;}

    .container-l[data-s=WebSite]>.promo>.l-c-2>.l-c-name{color: black;}
    .container-l[data-s=WebSite]>.promo>.l-c-2>.l-c-sub{color: #525252;}
    .container-l[data-s=WebSite]>.promo>.l-c-3>.l-c-3-t{color: black;}
    .container-l[data-s=WebSite]>.promo>.l-c-3>.l-c-3-text{color: black;}
    .container-l[data-s=WebSite]>.promo>.l-c-2>.l-c-category{color: #525252;}
    .p-box[data-s=website]{border-bottom: 6px solid #4caf50;}

    .container-l[data-s=Reddit]>.promo>.l-c-2>.l-c-name{color: black;}
    .container-l[data-s=Reddit]>.promo>.l-c-2>.l-c-sub{color: #525252;}
    .container-l[data-s=Reddit]>.promo>.l-c-3>.l-c-3-t{color: black;}
    .container-l[data-s=Reddit]>.promo>.l-c-3>.l-c-3-text{color: black;}
    .container-l[data-s=Reddit]>.promo>.l-c-2>.l-c-category{color: #525252;}
    .p-box[data-s=reddit]{border-bottom: 6px solid #ef8630;}

/* Border bottom promo link filter */
    .container-l[data-s=WebSite]>.promo{
        border-bottom: 4px solid #4caf50;
        border-right: 1px solid #d7d7d7;
        border-left: 1px solid #d7d7d7;
        border-top: 1px solid #d7d7d7;
    }
    .container-l[data-s=Instagram]>.promo{
        border-bottom: 4px solid #525252;
        border-right: 1px solid #d7d7d7;
        border-left: 1px solid #d7d7d7;
        border-top: 1px solid #d7d7d7;
    }
    .container-l[data-s=Pinterest]>.promo{
        border-bottom: 4px solid #e60023;
        border-right: 1px solid #d7d7d7;
        border-left: 1px solid #d7d7d7;
        border-top: 1px solid #d7d7d7;
    }
    .container-l[data-s=Twitter]>.promo{
        border-bottom: 4px solid #03a9f4;
        border-right: 1px solid #d7d7d7;
        border-left: 1px solid #d7d7d7;
        border-top: 1px solid #d7d7d7;
    }
    .container-l[data-s=Facebook]>.promo{
        border-bottom: 4px solid #039be5;
        border-right: 1px solid #d7d7d7;
        border-left: 1px solid #d7d7d7;
        border-top: 1px solid #d7d7d7;
    }
    .container-l[data-s=YouTube]>.promo{
        border-bottom: 4px solid #ff3d00;
        border-right: 1px solid #d7d7d7;
        border-left: 1px solid #d7d7d7;
        border-top: 1px solid #d7d7d7;
    }
    .container-l[data-s=Snapchat]>.promo{
        border-bottom: 4px solid #feda00;
        border-right: 1px solid #d7d7d7;
        border-left: 1px solid #d7d7d7;
        border-top: 1px solid #d7d7d7;
    }
    .container-l[data-s=TikTok]>.promo{
        border-bottom: 4px solid rgb(254, 44, 85);
        border-right: 1px solid #b7b7b7;
        border-left: 1px solid #b7b7b7;
        border-top: 1px solid #b7b7b7;
    }
    .container-l[data-s=Reddit]>.promo{
        border-bottom: 4px solid #ef8630;
        border-right: 1px solid #b7b7b7;
        border-left: 1px solid #b7b7b7;
        border-top: 1px solid #b7b7b7;
    }

/* Icon follow (love) */
    .p-love[data-f=on]{background-image: url('../img/loved1.png');}
    .p-love[data-f=off]{background-image: url('../img/love1.png');}
    .p-love[data-f=on]:hover,.p-love[data-f=on]:active{background-image: url('../img/love1.png');}
    .p-love[data-f=off]:hover,.p-love[data-f=off]:active{background-image: url('../img/loved1.png');}

/* Border view link */
    .p-c-f[data-s=pinterest]>.p-c-img{background: #e60023;}
    .p-c-f[data-s=facebook]>.p-c-img{background: #039be5;}
    .p-c-f[data-s=youtube]>.p-c-img{background: #ff3d00;}
    .p-c-f[data-s=instagram]>.p-c-img{background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);}
    .p-c-f[data-s=website]>.p-c-img{background: #4caf50;}
    .p-c-f[data-s=tiktok]>.p-c-img{background: rgb(254, 44, 85);}
    .p-c-f[data-s=snapchat]>.p-c-img{background: #feda00;}
    .p-c-f[data-s=twitter]>.p-c-img{background: #03a9f4;}
    .p-c-f[data-s=reddit]>.p-c-img{background: #ef8630;}

/* Button view link */
    .p-c-f[data-s=pinterest]>.p-c-btn,.s-r-d-container[data-id=pinterest]>.a-p-c-btn{background: black; font-weight: bold; border-radius: 20px;}
    .p-c-f[data-s=facebook]>.p-c-btn,.s-r-d-container[data-id=facebook]>.a-p-c-btn{background:#0095f6; border-radius: 5px; font-weight: bold;}
    .p-c-f[data-s=youtube]>.p-c-btn,.s-r-d-container[data-id=youtube]>.a-p-c-btn{font-weight: bold;background: #ff3d00;}
    .p-c-f[data-s=instagram]>.p-c-btn,.s-r-d-container[data-id=instagram]>.a-p-c-btn{background:#0095f6; border-radius: 5px; font-weight: bold;}
    .p-c-f[data-s=website]>.p-c-btn,.s-r-d-container[data-id=website]>.a-p-c-btn{background: #4caf50;}
    .p-c-f[data-s=tiktok]>.p-c-btn,.s-r-d-container[data-id=tiktok]>.a-p-c-btn{background: rgb(254, 44, 85); border-radius: 5px; font-weight: bold;}
    .p-c-f[data-s=snapchat]>.p-c-btn,.s-r-d-container[data-id=snapchat]>.a-p-c-btn{background: #feda00; color: #000000; font-weight: bold; border-radius: 20px;}
    .p-c-f[data-s=twitter]>.p-c-btn,.s-r-d-container[data-id=twitter]>.a-p-c-btn{background: #03a9f4;}
    .p-c-f[data-s=reddit]>.p-c-btn,.s-r-d-container[data-id=reddit]>.a-p-c-btn{background: #ef8630;}

/* Border promo link */
    .p-box[data-s=pinterest]>.p-l-img,.a-p-c-img[data-id=pinterest]{background: #e60023;}
    .p-box[data-s=facebook]>.p-l-img,.a-p-c-img[data-id=facebook]{background: #039be5;}
    .p-box[data-s=youtube]>.p-l-img,.a-p-c-img[data-id=youtube]{background: #ff3d00;}
    .p-box[data-s=instagram]>.p-l-img,.a-p-c-img[data-id=instagram]{background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);}
    .p-box[data-s=website]>.p-l-img,.a-p-c-img[data-id=website]{background: #4caf50;}
    .p-box[data-s=tiktok]>.p-l-img,.a-p-c-img[data-id=tiktok]{background: rgb(254, 44, 85);}
    .p-box[data-s=snapchat]>.p-l-img,.a-p-c-img[data-id=snapchat]{background: #feda00;}
    .p-box[data-s=twitter]>.p-l-img,.a-p-c-img[data-id=twitter]{background: #03a9f4;}
    .p-box[data-s=reddit]>.p-l-img,.a-p-c-img[data-id=reddit]{background: #ef8630;}

/* Color view link */
    .p-c-f[data-s=pinterest],.s-r-d-container[data-s=pinterest]{color: #000000;}
    .p-c-f[data-s=facebook]>.p-c-description,.p-c-f[data-s=facebook]>.p-c-subtitle,.s-r-d-container[data-s=facebook]>.a-p-c-subtitle,.s-r-d-container[data-s=facebook]>.a-p-c-description{color: #65676b;}
    .p-c-f[data-s=youtube],.s-r-d-container[data-s=youtube]{color: #000000;}
    .p-c-f[data-s=instagram],.s-r-d-container[data-s=instagram]{color: #383838;}
    .p-c-f[data-s=website],.s-r-d-container[data-s=website]{color: #000000;}
    .p-c-f[data-s=tiktok],.s-r-d-container[data-s=tiktok]{color: #000000;}
    .p-c-f[data-s=snapchat],.s-r-d-container[data-s=snapchat]{color: #000000;}
    .p-c-f[data-s=twitter],.s-r-d-container[data-s=twitter]{color: #000000;}
    .p-c-f[data-s=reddit],.s-r-d-container[data-s=reddit]{color: #000000;}

/* Border filter link */
    .list[data-s=pinterest]>.l-c-1>img{background: #e60023;}
    .list[data-s=facebook]>.l-c-1>img{background: #039be5;}
    .list[data-s=youtube]>.l-c-1>img{background: #ff3d00;}
    .list[data-s=instagram]>.l-c-1>img{background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);}
    .list[data-s=website]>.l-c-1>img{background: #4caf50;}
    .list[data-s=tiktok]>.l-c-1>img{background: rgb(254, 44, 85);}
    .list[data-s=snapchat]>.l-c-1>img{background: #feda00;}
    .list[data-s=twitter]>.l-c-1>img{background: #03a9f4;}
    .list[data-s=reddit]>.l-c-1>img{background: #ef8630;}