:root{
    --box_shadow: 2px 2px 3px #ababab;
}
a:-webkit-any-link {
    color: #7e7e7e;
    cursor: pointer;
}

body,html{
    margin: 0;
    font-family: sans-serif;
    background: #eceff1;
}

/* Style login and register */
    .acc{
        width: 400px;
        height: auto;
        background: white;
        border: 1px solid #dbdbdb;
        margin: 50px auto 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 30px 0 30px;
        box-shadow: var(--box_shadow);
    }
    .text{
        display: flex;
        margin: 30px 0 50px 0;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 3rem;
        font-weight: bold;
        background: -webkit-linear-gradient(
                268deg, rgb(64 123 255) 0%, rgb(205 98 255) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .subtext{
        font-size: 1rem;
        color: #7e7e7e;
        margin: 0 10px 30px 10px;
        text-align: center;
    }
    ::placeholder{
        color: #b7b7b7;
    }
    form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    input{
        width: 300px;
        padding: 5px;
        border: 1px solid #dbdbdb;
        color: #444444;
        margin: 10px 0 0 0;
        font-size: 1.1rem;
    }
    button{
        margin: 20px 0 0 0;
        padding: 10px 25px;
        background: linear-gradient(
                178deg, rgb(126 165 255) 10%, rgb(174 0 255) 200%);
        border: 1px solid #dbdbdb;
        color: white;
        font-size: 1.1rem;
    }
    button:hover, button:active{
        cursor: pointer;
    }
    .restore{
        font-size: 0.7rem;
        color: #7e7e7e;
        margin: 20px 0 30px 0;
    }
    .restore:hover,.restore:active,.rel:active,.rel:hover{
        cursor: pointer;
        color: black;
    }
    .regulations{
        margin: 10px 0 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;
        flex-direction: row;
    }
    input[type="checkbox" i]{
        width: 0.8rem;
        margin: 0 5px 0 0;
    }
    input[type="image"]{
        width: 100%;
    }
    .replace{
        display: flex;
        justify-content: center;
        align-content: center;
        font-size: 0.8rem;
        color: #7e7e7e;
        margin: 4px 0 -2px 0;
        width: 100%;
    }
    .alert {
        width: auto;
    }
    .error{
        border: 1px solid #ffc4c3;
        color: #cd4d4a;
        background: #fffcfc;
        margin: 0px auto;
        padding: 5px;
        text-align: left;
        font-size: 0.9rem;
        text-align: center;
    }
    .success{
        border: 1px solid #a6ff82;
        color: #009d1b;
        background: #ddffd5;
        margin: 0px auto;
        padding: 5px;
        text-align: left;
        font-size: 0.9rem;
        text-align: center;
    }

/* Style top */
    .top{
        width: calc(100% - 80px);
        height: 70px;
        background: white;
        display: flex;
        padding: 0 40px;
        justify-content: space-between;
        border-bottom: 1px solid #dbdbdb;
    }
    .t-logo{
        width: calc(25% - 43px);
        min-width: 150px;
        height: auto;
        margin: 3px 3px 3px 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 2.2rem;
        background: -webkit-linear-gradient(
                268deg, rgb(64 123 255) 0%, rgb(205 98 255) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: sans-serif;
    }
    .t-menu{
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        width: calc(75% - 6px);
        height: auto;
        margin: 3px;
    }
    .t-m-add{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        color: #7e7e7e;;
        font-size: 1rem;
        border: 1px solid #dbdbdb;
    }
    .t-m-add:hover,.t-m-add:active,.btn-filter:hover,.btn-filter:active,.s-f-n-drop:hover,.s-f-n-drop:active{
        background: linear-gradient(
                178deg, rgb(126 165 255) 10%, rgb(174 0 255) 200%);
        color: white;
        cursor: pointer;
        border-color: #ad98ff;
    }
    .t-m-acc{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #7e7e7e;
        font-size: 1rem;
        padding: 0 20px 0 10px;
    }
    a{
        text-decoration: none;
    }
    .t-m-message{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #7e7e7e;
        font-size: 1rem;
        padding: 0 10px 0 10px;
    }
    .t-m-follow{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #7e7e7e;
        font-size: 1rem;
        padding: 0 10px 0 10px;
    }
    .t-m-acc:hover,.t-m-acc:active,.t-m-message:hover,.t-m-message:active,.t-m-follow:active,.t-m-follow:hover{
        color: black;
        cursor: pointer;
    }
    .m-icon{
        height: 1.7rem;
        margin-right: 4px;
    }

/* Style search and filter */
    .b-search{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .search{
        width: 100%;
        height: 100px;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: var(--box_shadow);
    }
    .s-social{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #7e7e7e;
        font-size: 0.8rem;
        font-weight: 600;
    }
    .s-social:hover,.s-social:active{
        color: black;
        cursor: pointer;
    }
    .s-social img{
        border-radius: 100%;
        height: 50px;
        margin: 0 10px 0 10px;
    }
    .s-table{
        display: none;
        height: auto;
        width: 100%;
        background: white;
        margin: 0 auto;
        padding: 10px 0 20px 0;
        border-bottom: 1px solid #dbdbdb;
        box-shadow: var(--box_shadow);
    }
    .s-filter{
        display: none;
        height: auto;
        max-width: 1300px;
        margin: 0 auto;
        padding: 15px 0 20px 0;
        justify-content: center;
        flex-wrap: wrap;
    }
    .s-f-select {
        width: calc(100% - 20px);
        background: white;
        border: 1px solid #dbdbdb;
        padding: 9px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .s-f-text{
        display: flex;
        align-items: center;
        color: #7e7e7e;
        font-size: 1rem;
    }
    .s-f-icon img{
        height: 0.7rem;
        filter: contrast(0.5);
    }
    .s-f-select:hover,.s-f-select:active{
        cursor: pointer;
    }
    .s-f-dropdown{
        background: white;
        border: 1px solid #dbdbdb;
        margin-top: -1px;
        position: absolute;
        width: 248px;
        display: none;
        max-height: 400px;
        overflow: auto;
        z-index: 999;
        box-shadow: var(--box_shadow);
    }
    .s-f-name{
        color: #525252;
        font-size: 0.9rem;
        padding: 0 0 3px 2px;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
    }
    .a-b-upload{
        font-size: 0.9rem
    }
    .panel-heading{
        display: flex;
        justify-content: center;
        align-content: center;
        font-size: 1.6rem;
        background: -webkit-linear-gradient(
                268deg
                , rgb(64 123 255) 0%, rgb(205 98 255) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: sans-serif;
    }
    .s-f-n-drop{
        height: 30px;
        display: flex;
        color: #7e7e7e;
        align-items: center;
        font-size: 0.9rem;
        padding-left: 10px;
    }
    .s-f-container{
        width: 250px;
        margin: 5px 3px;
    }
    .s-f-container>.s-f-select{
        box-shadow: var(--box_shadow);
    }
    .s-f-c-container{
        display: flex;
        flex-direction: row;
    }
    .s-t-container{
        border: 1px solid #dbdbdb;
        width: 60%;
        margin: 0 auto;
    }
    .s-t-all{
        width: 90%;
        margin: 0 auto;
        color: #7e7e7e;
        padding: 10px 0 10px 0;
        display: flex;
        align-items: center;
        font-weight: 600;
    }
    .ss-sort{
        font-size: 0.7rem;
    }
    .s-sort{
        font-size: 0.7rem;
    }
    .d-sort{
        width: 178px;
    }
    .t-sort{
        font-size: 0.7rem;
        padding-left: 5px;
    }
    .f-sort{
        width: 180px;
    }
    .s-t-c-container{
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin: 0 auto;
        padding: 10px 0 10px 0;
        border-top: 1px solid #dbdbdb;
    }
    .s-t-c-name{
        width: 25%;
        color: #7e7e7e;
        display: flex;
        align-items: center;
        margin: 2px 0 2px 0;
    }
    .s-t-c-name:hover,.s-t-c-name:active,.s-t-all:hover,.s-t-all:active{
        color: black;
        cursor: pointer;
    }
    .s-t-c-name img,.s-t-all img{
        height: 0.5rem;
        margin: 5px;
    }

/* Style container */
    .i-container{
        width: 100%;
        height: 400px;
        border: 1px solid black;
    }

/* Style container */
    .container{
        max-width: 1300px;
        margin: 10px auto 30px auto;
    }
    .admin-container{
        max-width: 1300px;
        margin: 10px auto 0 auto;
    }
    .container-l{
        width: 100%;
        border-bottom: 200px;
    }
    .c-all-a{
        border-bottom: 1px solid #d9d9d9;
        width: calc(100% - 20px);
        color: #525252;
        font-size: 0.9rem;
        padding: 2px 10px;
        font-weight: bold;
        justify-content: space-between;
        display: flex;
        align-items: flex-end;
    }
    .load-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #525252;
        font-weight: bold;
        font-size: 0.7rem;
    }
    .load-more{
        margin: 3px auto 0 auto;
        display: flex;
        border-radius: 100%;
        font-size: 1rem;
        padding: 0;
        justify-content: center;
        font-weight: bold;
        align-items: center;
        width: 65px;
        height: 65px;
    }
    .list{
        width: calc(100% - 20px);
        height: auto;
        background: white;
        padding: 10px;
        display: flex;
        flex-direction: row;
        margin: 10px 0 10px 0;
        box-shadow: var(--box_shadow);
    }
    .e-list>.list{
        width: calc(100% - 20px);
        height: auto;
        background: white;
        padding: 10px;
        display: flex;
        flex-direction: row;
        margin: 10px 0 10px 0;
        box-shadow: none;
    }
    .list:active,.list:hover{
        cursor: pointer;
    }
    .l-c-1{
        margin-right: 10px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px;
        width: calc(10% - 10px);
        min-width: 70px;
    }
    .l-c-1-icon>img{
        position: absolute;
        width: 30px;
        margin: 10px 0 0 -27px;
    }
    .verified{
        position: absolute;
        margin: 64px 0 0 -91px;
        color: #43a047;
        display: flex;
        align-items: center;
        font-size: 0;
    }
    .verified-v{
        color: #43a047;
        display: flex;
        align-items: center;
        font-size: 0.7rem;
        margin: -10px 0 10px 0px;
    }
    .verified > img,.verified-v > img{
        height: 25px;
    }
    .l-c-1 > img{
        height: 70px;
        border-radius: 100%;
        padding: 2px;
    }
    .l-c-2{
        width:80%;
        display: flex;
        flex-direction: column;
    }
    .l-c-name{
        font-size: 1.2rem;
        font-weight: 600;
        color: #525252;
        margin-top: 5px;
        height:auto;
    }
    .l-c-sub{
        font-size: 0.8rem;
        color: #525252;
        margin-top: 5px;
        height:auto;
    }
    .l-c-category{
        height: 24px;
        display: flex;
        align-items: flex-end;
        color: #525252;
        font-size: 0.8rem;
    }
    .l-c-3{
        width: 20%;
        display: flex;
        flex-direction: column;
    }
    .l-c-3-t{
        color: #525252;
        margin-right: 3px;
        font-size: 1.2rem;
    }
    .l-c-3-text{
        font-size: 0.75rem;
        color: #525252;
        display: flex;
        align-items: flex-end;
    }
    .l-c-3-c{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: 1.2rem;
    }
    .l-c-3-f{
        margin: 32px 0 0 0;
        display: flex;
        height: 1.2rem;
        justify-content: end;
    }
    .l-c-3-f>img{
        height: 1.5rem;
        border: 1px solid #dbdbdb;
    }
    .promo{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 100%;
    }
    .p-links{
        max-width: 1300px;
        margin: 10px auto 30px auto;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .p-box{
        width: calc(20% - 50px);
        min-width: 200px;
        margin: 5px;
        height: auto;
        background: white;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        flex-direction: column;
        padding: 5px 20px;
        box-shadow: var(--box_shadow);
    }
    .p-box>img{
        width: 90px;
        margin: 5px auto;
    }
    .p-text{
        width: 77%;
        font-size: 0.9rem;
        color: #7e7e7e;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
        align-items: center;
        text-align: center;
        height: 1rem;
    }
    .p-text-title{
        width: 100%;
        font-size: 0.9rem;
        color: #7e7e7e;
        margin-bottom: 15px;
        align-items: center;
        text-align: center;
        height: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .p-text-subtitle{
        width: 100%;
        font-size: 0.9rem;
        color: #7e7e7e;
        margin-bottom: 10px;
        align-items: center;
        text-align: center;
        min-height: 2.2rem;
    }
    .p-text.h{
        font-size: 1.05rem;
    }
    .p-text.s{
        font-size: 0.7rem;
        margin-top: -10px;
    }
    .p-text.h.b{
        font-size: 1.05rem;
        font-weight: bold;
    }
    .p-love.view{
        margin: 0 0 0 272px;
    }
    .p-love{
        width: 40px;
        height: 40px;
        margin: 0 0 0 194px;
        background-image: url('../img/love1.png');
        background-size: 100% 100%;
        position: absolute;
    }
    .p-love:hover,.p-love:active{
        background-image: url('../img/loved1.png');
        cursor: pointer;
    }
    .love-container{
        width: auto;
    }
    .p-text>img{
        width: 23px;
        height: 23px;
    }
    .p-a-text{
        font-size: 2.2rem;
        display: flex;
        width: 100%;
        justify-content: center;
        background: -webkit-linear-gradient(
                268deg
                , rgb(64 123 255) 0%, rgb(205 98 255) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: sans-serif;
        margin-top: 15px;
    }
    .b-more{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        margin: 0 0 10px 0;
        flex-direction: column;
    }
    .b-m-partners>img{
        height: 45%;
        margin-bottom: 3px;
    }
    .b-m-partners{
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 0.8rem;
    }
    .b-m-title{
        width: 100%;
        display: flex;
        background: -webkit-linear-gradient( 268deg , rgb(64 123 255) 0%, rgb(205 98 255) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: sans-serif;
        justify-content: center;
        padding: 5px 0;
        font-size: 2rem;
    }
    .p-l-img{
        display: flex;
        justify-content: center;
        width: 156px;
        height: 156px;
        border-radius: 100%;
    }
    .p-l-img>img{
        width: 150px;
        height: 150px;
        margin-top: 3px;
        border-radius: 100%;
    }
    .p-l-icon{
        position: absolute;
        margin: 107px 0 0 115px;
    }
    .p-l-icon>img{
        width: 50px;
        height: 50px;
    }
    .p-box:active,.p-box:hover{
        cursor: pointer;
    }

/* Style footer */
    .footer{
        width: 100%;
        height: auto;
        background: white;
        padding: 50px 0 50px 0;
    }
    .footer-m{
        max-width: 1300px;
        height: auto;
        margin: 0 auto 0 auto;
    }
    .footer-s{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .f-logo{
        width: 40%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.7rem;
        background: -webkit-linear-gradient(
                268deg, rgb(64 123 255) 0%, rgb(205 98 255) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: sans-serif;
        font-weight: 600;
        padding-bottom: 30px;
    }
    .f-t{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 70%;
        font-size: 1rem;
        color: #7e7e7e;
    }
    .f-j{
        padding: 20px 0 20px 0;
        font-size: 1rem;
        font-weight: bold;
    }
    .f-us{
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: row;
    }
    .f-us img{
        width: 40px;
        margin: 5px;
        cursor: pointer;
    }

/* Style myaccount */
    .a-menu{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .a-text{
        min-width: 80px;
        padding: 10px;
        background: white;
        color: #7e7e7e;
        border: 1px solid #dbdbdb;
        cursor: pointer;
        margin: 0 2px;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-weight: 600;
        font-size: 0.9rem;
        box-shadow: var(--box_shadow);
    }
    .a-text img{
        padding-bottom: 3px;
        width: 50%;
        height: auto;
    }
    .a-text:hover,.a-text:active, .a-active{
        /*background: linear-gradient(*/
        /*        178deg, rgb(126 165 255) 10%, rgb(174 0 255) 200%);*/
        color: #4c4c4c;
        cursor: pointer;
        border-color: #886aff;
    }
    .a-text-c{
        color: #7e7e7e;
        font-size: 1.2rem;
    }
    .a-container{
        width: calc(100% - 40px);
        background: white;
        margin-top: 10px;
        padding: 20px;
        display: flex;
        justify-content: center;
    }
    .a-edit{
        width: 60%;
        padding: 30px;
    }
    .btn-acc{
        font-size: 1rem;
        padding: 8px 15px;
    }
    .a-title{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.7rem;
        background: -webkit-linear-gradient(
                268deg, rgb(64 123 255) 0%, rgb(205 98 255) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: sans-serif;
        padding-bottom: 30px;
    }
    .i-a-l{
        width: calc(100% - 10px);
        margin: 0;
    }
    .a-l-f{
        display: block;
    }
    .first-l{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #7e7e7e;
        font-size: 1.2rem;
    }
    textarea{
        border: 1px solid #dbdbdb;
        color: #444444;
        font-size: 1.1rem;
        resize: none;
        margin: 0;
        padding: 5px;
    }
    .e-list{
        width: 100%;
        display: flex;
        justify-items: right;
        flex-direction: row;
    }
    .btn-myacc img{
        width: 90%;
    }
    .btn-myacc{
        border: 1px solid #dbdbdb;
        background: none;
        width: 40px;
        height: 40px;
        margin: 2px;
        padding: 2px;
        /*box-shadow: var(--box_shadow);*/
    }
    .btn-myacc:hover,.btn-myacc:active{
        cursor: pointer;
        border-color: #886aff;
    }
    .c-button{
        display: flex;
        flex-direction: column;
        margin: 12px 0 0 10px;
    }
    .m-button{
        display: flex;
        flex-direction: row;
    }
    .pop-alert{
        width: 100%;
        height: 100%;
        background: #00000091;
        position: fixed;
        display: none;
        z-index: 1;
    }
    .p-alert{
        width: 30%;
        margin: 15% auto 0 auto;
        background: white;
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 1px solid #838383;
    }
    .p-menu{
        display: flex;
        flex-direction: row;
    }
    .p-btn{
        margin: 20px 2px 0 2px;
    }
    .count-text{
        font-size: 0.7rem;
        display: flex;
        align-items: end;
        margin-left: 5px;
        color: #525252;
    }
    .screen{
        width: 100%;
        height: auto;
    }
    .s-menu{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .s-m-button{
        width: auto;
        height: auto;
        padding: 5px 10px;
        font-size: 1rem;
        border: 1px solid #dbdbdb;
        margin: 5px;
    }
    .s-m-button{
        width: auto;
        height: auto;
        padding: 7px 12px;
        font-size: 0.9rem;
        border: 1px solid #dbdbdb;
        margin: 5px;
        font-weight: bold;
        color: #7e7e7e;
    }
    .s-m-button:hover,.s-m-button:active,.s-m-b-active{
        border-color: #886aff;
        color: #525252;
        cursor: pointer;
    }
    .s-result{
        margin: 20px 0;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .s-r-desk{
        width: 650px;
        height: 400px;
        border: 10px solid #1e1e1e;
        border-radius: 15px;
        background: #00000091;
    }
    .s-r-d-container{
        width: 350px;
        background: white;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 1px solid #838383;
        margin: 50px auto;
        color: black;
    }
    .s-r-mob{
        width: 300px;
        height: 550px;
        border-top: 20px solid #1e1e1e;
        border-bottom: 20px solid #1e1e1e;
        border-left: 5px solid #1e1e1e;
        border-right: 5px solid #1e1e1e;
        border-radius: 15px;
        display: none;
        background: #00000091;
    }
    .s-r-m-container{
        width: calc(90% - 40px);
        background: white;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 1px solid #838383;
        margin: 50px auto;
        color: black;
    }
    .pop-container{
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 15vh auto 0 auto;
        width: 550px;
    }
    .panel-mask{
        position: absolute;
        z-index: 999;
        background: #7f7f7f;
        width: 400px;
        height: 350px;
        margin: -471px 0 0 -26px;
        justify-content: center;
        align-items: center;
        display: none;
    }
    .panel-mask>img{
        width: 200px;
        height: 200px;
    }
    .p-c-f{
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 45px;
        width: 550px;
    }
    .p-c-exit{
        position: absolute;
        width: 40px;
        height: 40px;
        background: url(../img/exit.png);
        background-size: 100% 100%;
        top: 0;
        margin: 16vh 0 0 586px;
    }
    .p-c-exit:hover,.p-c-exit:active{
        cursor: pointer;
    }
    .p-c-img{
        width: auto;
        height: 150px;
        margin-bottom: 10px;
        border-radius: 100%;
        padding: 3px;
    }
    .p-c-i-ico>img{
        width: 50px;
        height: 50px;
        position: absolute;
        margin: -48px 0 0 106px;
    }
    .p-c-img>img{
        width: 150px;
        height: 150px;
        border-radius: 100%;
    }
    .p-c-title{
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: 10px;
        text-align: center;
    }
    .p-c-subtitle{
        font-size: 1.1rem;
        margin-bottom: 5px;
        text-align: center;
    }
    .p-c-description{
        font-size: 1rem;
        margin-bottom: 10px;
        display: flex;
        justify-content: flex-start;
        overflow-wrap: anywhere;
    }
    .p-c-ammount{
        font-size: 1.3rem;
        display: flex;
        align-items: end;
        margin-bottom: 6px;
    }
    .p-c-ammount>img{
        width: 28px;
    }
    .p-c-flag{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        align-items: end;
    }
    .p-c-flag>img{
        width: 30px;
        margin-right: 5px;
        border: 1px solid #dbdbdb;
    }
    .p-c-category{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .p-c-c-cat{
        font-size: 0.9rem;
    }
    .p-c-btn{
        padding: 10px 25px;
        background: linear-gradient(
                178deg
                , rgb(126 165 255) 10%, rgb(174 0 255) 200%);
        color: white;
        font-size: 1rem;
    }
    .p-c-btn:hover,.p-c-btn:active{
        cursor: pointer;
    }
    .a-p-c-i-ico>img{
        width: 25px;
        height: 25px;
        position: absolute;
        margin: 53px 0 0 -22px;
    }
    .a-p-c-img{
        padding: 3px;
        border-radius: 100%;
        display: flex;
    }
    .a-p-c-img>img{
        width: 75px;
        height: 75px;
        border-radius: 100%;
    }
    .a-p-c-title{
        font-size: 0.9rem;
        font-weight: bold;
        margin-bottom: 5px;
        text-align: center;
        overflow-wrap: anywhere;
    }
    .a-p-c-subtitle{
        font-size: 0.7rem;
        margin-bottom: 5px;
        text-align: center;
        overflow-wrap: anywhere;
    }
    .a-p-c-description{
        font-size: 0.6rem;
        margin-bottom: 10px;
        display: flex;
        justify-content: flex-start;
        overflow-wrap: anywhere;
    }
    .a-p-c-ammount{
        font-size: 0.7rem;
        display: flex;
        align-items: end;
        margin-bottom: 3px;
        align-items: center;
    }
    .a-p-c-ammount>img{
        width: 16px;
    }
    .a-p-c-category{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3px;
    }
    .a-p-c-c-cat{
        font-size: 0.5rem;
    }
    .a-p-c-btn{
        padding: 5px 15px;
        background: linear-gradient(
                178deg
                , rgb(126 165 255) 10%, rgb(174 0 255) 200%);
        color: white;
        font-size: 0.55rem;
    }
    .a-p-c-flag{
        display: flex;
        justify-content: center;
        margin-bottom: 7px;
        align-items: end;
        font-size: 0.7rem;
    }
    .a-p-c-flag>img {
        width: 15px;
        margin-right: 5px;
        border: 1px solid #dbdbdb;
    }
/* Style admin panel */    
    .c-cafle-a{
        display: flex;
        flex-direction: row;
        margin-bottom: 50px;
        flex-wrap: wrap;
    }
    .c-c-fle-a{
        color: #7e7e7e;
        width: calc(20% - 13px);
        height: auto;
        padding: 10px 30px 10px 10px;
        display: flex;
        flex-direction: row;
        margin: 0 5px 10px 5px;
        background: #f9f9f9;
        align-items: center;
        box-shadow: var(--box_shadow);
    }
/* Style dashboard */
    .c-cafle{
        display: flex;
        flex-direction: row;
        margin-bottom: 50px;
    }
    .c-c-fle{
        color: #7e7e7e;
        width: 20%;
        height: auto;
        padding: 10px 30px 10px 10px;
        display: flex;
        flex-direction: row;
        margin-left: 10px;
        background: #f9f9f9;
        align-items: center;
        box-shadow: var(--box_shadow);
    }
    .fle-t{
        display: flex;
        justify-content: flex-start;
        font-size: 0.8rem;
    }
    .fle-a{
        display: flex;
        justify-content: flex-start;
        font-size: 1.6rem;
        font-weight: bold;
        background: -webkit-linear-gradient(
                268deg
                , rgb(64 123 255) 0%, rgb(205 98 255) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .fle-menu{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .c-c-fle>img{
        width: 50px;
        height: 50px;
        margin-right: 5px;
    }
    .c-list{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        /*box-shadow: var(--box_shadow);*/
    }
    table{
        border-left: 1px solid #dbdbdb;
        border-top: 1px solid #dbdbdb;
        color: #7e7e7e;
    }
    th, td{
        border-right: 1px solid #dbdbdb;
        border-bottom: 1px solid #dbdbdb;
        text-align: center;
        font-size: 0.8rem;
    }

/* Style followed */
    .fd-container{
        max-width: 1300px;
        margin: 0 auto;
        height: auto;
    }
    .fd-background{
        background-color: white;
    }
    .fd-title{
        font-size: 2.2rem;
        display: flex;
        width: 100%;
        justify-content: center;
        background: -webkit-linear-gradient(
                268deg
                , rgb(64 123 255) 0%, rgb(205 98 255) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: sans-serif;
        height: 120px;
        align-items: center;
    }
    .fd-none{
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        color: #bfbfbf;
        flex-direction: column;
    }
    .fd-x{
        font-size: 6rem;
        color: #d1d1d1;
        font-weight: bold;
        margin: -55px 0 0 0;
    }
    .alert-follow{
        position: absolute;
        background: white;
        color: black;
        padding: 10px;
    }
    .f-exit{
        position: absolute;
        width: 40px;
        height: 40px;
        background: url(../img/exit.png);
        background-size: 100% 100%;
        top: 0;
        margin: 15.5vh 0 0 586px;
    }
    .f-exit:hover,.f-exit:active{
        cursor: pointer;
    }
    @media only screen and (max-width: 600px) {
        :root {
            --box_shadow: 0px 0px 0px #ababab;
        }
        .t-m-acc,.t-m-follow,.t-m-message{
            font-size: 0;
            padding: 0;
        }
        .top{
            padding: 0;
            width: 100%;
        }
        .t-logo{
            margin: 3px 3px 3px 10px;
        }
        .t-m-add{
            margin-right: 10px;
            padding: 10px 10px;
            font-size: 0.8rem;
        }
        .search{
            overflow: scroll;
            justify-content: flex-start;
        }
        .s-t-container{
            width: 95%;
        }
        .s-t-c-name{
            width: 50%;
        }
        .p-links,.fd-container{
            width: 100%;
        }
        .l-c-category{
            height: 24px;
            color: #525252;
            display: block;
            font-size: 0.8rem;
            margin: 5px 0 0 0;
        }
        .p-box{
            width: calc(50% - 20px);
            min-width: 170px;
            padding: 5px 7px 45px 7px;
            margin: 2px;
        }
        .p-l-img>img{
            width: 120px;
            height: 120px;
        }
        .p-l-img {
            width: 126px;
            height: 126px;
        }
        .p-l-icon>img {
            width: 40px;
            height: 40px;
        }
        .p-l-icon{
            margin: 83px 0 0 89px;
        }
        .p-text{
            margin-top: 5px !important;
            margin-bottom: 5px;
        }
        .verified{
            margin: 89px 0 0 -4px;
            font-size: 12px;
        }
        .p-love{
            width: 45px;
            height: 45px;
            margin: 16% 0 0 0;
        }
        .footer-m{
            width: 100%;
        }
        .f-logo{
            width: 100%;
        }
        .f-t{
            width: 90%;
        }
        .f-j{
            padding: 20px 0 2px 0;
        }
        .p-c-f{
            width: calc(100% - 50px);
            padding: 25px;
            justify-content: flex-start;
            height: 100%;
        }
        .pop-alert{
            overflow: auto;
        }
        .pop-container{
            width: 95%;
            margin: 25% auto 25% auto;
        }
        .p-c-exit{
            margin: 26% 0 0 82% !important;
        }
        .container{
            width: 95%;
        }
        .c-all-a{
            width: 95%;
        }
        .acc{
            padding: 0;
            width: 100%;
        }
        .d-sort{
            width: 149px !important;
        }
        .text{
            text-align: center;
        }
        .f-sort{
            width: 150px !important;
        }
        .s-filter{
            width: 95%;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
        }
        .s-f-container{
            width: 48%;
            margin: 1%;
        }
        .l-c-1 {
            height: 70px;
            width: 15%;
        }
        .l-c-1-icon>img {
            width: 30px;
            margin: 12px 0 0 -27px;
        }
        .l-c-name{
            font-size: 1rem;
            max-height: 2rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .l-c-3-c{
            flex-direction: column;
            justify-content: center;
            height: auto;
        }
        .l-c-3-t{
            font-size: 1rem;
            justify-content: flex-end;
            display: flex;
            margin: -32px 0 0 0;
        }
        .l-c-3{
            width: 15%;
        }
        .l-c-3-f{
            margin: 53px 0 0 0;
        }
        .l-c-3-f>img{
            margin-top: 21px;
        }
        .l-c-3-text{
            font-size: 0.55rem;
            justify-content: flex-end;
        }
        .list{
            align-items: center;
            min-height: 125px;
        }
        .promo{
            min-height: 145px;
        }
        .a-menu{
            overflow: auto;
            justify-content: flex-start;
        }
        .a-edit{
            width: 95% !important;
            padding: 0;
        }
        .s-f-name{
            font-size: 0.8rem;
        }
        .c-cafle{
            flex-wrap: wrap;
            width: 100%;
            justify-content: center;
        }
        .c-c-fle{
            margin: 1% !important;
            width: 34%;
        }
        .p-love.view {
            margin: -6% 0 0 34%;
        }
        .f-exit{
            margin: 25% 0 0 84%;
        }
        .s-r-desk{
            width: 100%;
            height: 60%;
        }
        .s-r-d-container{
            width: 60%;
            margin: 5px auto;
            padding: 7px;
            min-height: 150px;
        }
        .a-p-c-img>img{
            width: 40px;
            height: 40px;
        }
        .a-p-c-img{
            padding: 1px;
        }
        .a-p-c-i-ico>img {
            width: 15px;
            height: 15px;
            margin: 27px 0 0 -13px;
        }
        .a-p-c-c-cat {
            font-size: 0.3rem;
        }
        .a-p-c-ammount {
            font-size: 0.45rem;
        }
        .a-p-c-ammount>img {
            width: 10px;
        }
        .a-p-c-flag{
            font-size: 0.45rem;
        }
        .a-p-c-flag>img {
            width: 9px;
            margin-right: 3px;
        }
        .a-p-c-title {
            font-size: 0.45rem;
            margin-bottom: 3px;
        }
        .a-p-c-subtitle {
            font-size: 0.45rem;
            margin-bottom: 3px;
        }
        .a-p-c-description {
            font-size: 0.4rem;
            margin-bottom: 6px;
        }
        .a-p-c-btn {
            padding: 3px 12px;
            font-size: 0.45rem;
        }
        .s-f-addlink{
            width: calc(100% - 2%);
        }
        .s-f-dropdown {
            width: 45%;
        }
        .count-text {
            position: absolute;
            margin: 9% 0 0 -10%;
            width: 100%;
            justify-content: flex-end;
        }
        .count-text[name=description] {
            position: absolute;
            margin: 43.5% 0 0 -10%;
            width: 100%;
            justify-content: flex-end;
        }
        .a-container{
            padding: 20px 5px;
            width: calc(100% - 10px);
        }
        .l-c-1 > img {
            height: 70px;
        }
        .l-c-1 {
            height: auto;
            width: 25%;
        }
        .l-c-2 {
            width: 60%;
        }
        .p-alert {
            width: 60%;
        }
        .m-drop{
            width: calc(100% - 38px);
        }
        .my-links {
            flex-direction: column;
        }
        .c-button{
            flex-direction: row;
            margin: 0 0 7px 0;
            justify-content: center;
        }
        .s-social{
            font-size: 0.7rem;
        }
        .s-social img {
            height: 40px;
        }
    }
    @media only screen and (max-width: 800px) {
        .t-m-acc,.t-m-follow,.t-m-message{
            font-size: 0;
            padding: 0;
        }
        .l-c-category{
            height: 24px;
            color: #525252;
            display: block;
            font-size: 0.8rem;
            margin: 5px 0 0 0;
        }
    }